商品詳細


<%= attachment_image_tag @product, :image, :fill, 60, 60, fallback: "no_image.jpg"%>
<h3>商品名</h3>
<%= @product.name %>
<h3>商品説明</h3>
<%= @product.description %>
<h3>ジャンル</h3>
<%= @product.genre.name %>
<h3>税抜価格（税抜き価格）</h3>
<%= @product.add_tax_price.to_s(:delimited) %> 
(<%= @product.tax_excluding_price.to_s(:delimited) %>）円
<h3>販売ステータス</h3>
<% if @product.is_saled == false %>
<p>売り切れ</p>
<% else %>
<p>販売中</p>
<% end %>

<%= link_to "編集する", edit_admin_product_path %>